<!-- string interpolation -->
<h1>holiwis</h1>
<h2>{{'holisi'.repeat(3)}}</h2>
<p>3+3={{3+3}} Bienvenides a {{title}} mi app en {{framework}}</p>

<img src={{img}} alt="photo of a random cat">

<h2>Propiedades en angular</h2>

<input type="text" [value]="title">

<!-- lo que estas haciendo es decirle que el valor vendrá dado de una variable que está en la lógica -->
<p>Logros en OW <progress max="100" [value]="achievements"></progress></p>
<img [src]="img" alt="photo of a random cat" width="100">
<!-- jugar con un objeto -->
<input type="text" [value]="player.nickname">
<p>Horas en OW<progress max="1000" [value]="player.hoursPlayed"></progress></p>


<!-- el string interpolation es mejor para ingresar contenido en un párrafo etc.
  Las propiedas, mejor para propiedas (value, src etc) -->


<h2>Eventos</h2>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleBtn()">Toggle Button</button>
<!-- todos los botones que tuvieran btnDisabled escucharían al pulsar aquí -->
<p>horas jugadas:{{player.hoursPlayed}}</p>
<button (click)="increaseHours()">Incrementar las horas</button>
<!-- este boton tambien mueve la barra de progreso porque están actuando
  sobre la misma propiedad del objeto -->

  <!-- EVENTOS -->
  <h2>Eventos</h2>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, nam et. Perspiciatis error ipsa hic omnis quaerat fugiat, maiores fugit ab totam ipsam, necessitatibus velit voluptate nobis provident! Eligendi, dignissimos.</p>
</div>
<input type="text" (keyup)="changePlayer($event)" [value]="player.nickname">

<!-- EJEMPLO NGMODEL -->
<h2>ngModel</h2>
<div>
  <input type="text" #player2Input="ngModel" [(ngModel)]="player2.nickname">
  <p>Valid:{{player2Input.valid}}/{{player2.nickname}}</p>
  <input type="number" max="8000" #player2hoursPlayedInput="ngModel" [(ngModel)]="player2.hoursPlayed">
  <p>Valid:{{player2hoursPlayedInput.valid}}/{{player2.hoursPlayed}}</p>
</div>

<!-- EJEMPLO DE CONDICIONAL AL RENDERIZAR -->
<h2>Renderizado condicional//*ngIf</h2>
<p *ngIf="player2.nickname==='Lomo.Adobado'">Viva Lomito</p>
<p *ngIf="player2.hoursPlayed ===1000 && player2.achievements===200; else elseP">Viva Lomito</p>
<ng-template #elseP>
  <p>bloque de else</p>
</ng-template>

<!-- EJEMPLO DE BUCLE Y CONDICIONAL AL RENDERIZAR// TAMBIÉN CON CLASES DE CSS -->
<h2>Pintar con un bucle //*ngFor</h2>
<h3>Jugadores</h3>
<ul>
  <li *ngIf="players.length===0">No hay jugadores</li>
  <li *ngFor="let player of players; index as i">{{i}} - {{player}} <button (click)="deletePlayer(i)">Delete</button></li>
</ul>
<input type="text" [(ngModel)]="newPlayer" #newplayer="ngModel">
<button (click)="addName()">Añadir Jugador</button>
<!-- activar/desactivar estilos en el css o directamente en el HTML -->
<p class="messageError" [class.active]="!newPlayer">
  Añade un nombre
</p>
<p [style.font-style]="!newPlayer? 'italic': 'normal'">
  Añade un nombre
</p>

<!-- EJEMPLO PARA PINTAR ARRAY DE OBJETOS -->
<h2>*ngFor Objects</h2>
<section >
<ul class="objRender__container">
  <li *ngFor="let character of characters; index as i" class="objRender__container__card">
    <h3>{{character.name}}</h3>
    <img [src]=character.image alt={{character.name}} width="150">    
    <p>Role: {{character.role}}</p>
  </li>
</ul>
</section>
<!-- EJEMPLO  DE NGSWITCH-->
<section>
  <h2>ngSwitch</h2>
  <input type="text" name="player3Input" id="player3Input"[(ngModel)]="player3.nickname">
  <p [ngSwitch]="player3.nickname">
    <span *ngSwitchCase='"Lomo.Adobado"'>El jugador es Lomo</span>
    <span *ngSwitchCase='"Valkyrya"'>La jugadora es Valkyrya</span>
    <span *ngSwitchCase='"Rubander"'>El jugador es Rubander</span>
    <span *ngSwitchDefault>No conocemos al jugador</span>
    <!-- se pone cada caso en un switch y el que queramos que renderice cuando no hay coincidencia es el ngSwitchDefault, 
      ten en cuenta que tienen q estar dentro de un contenedor que tenga [ngSwitch]-->
    </p>
</section>